<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <!-- 自动扫描web包 ,将带有注解的类 纳入spring容器管理 -->
    <context:component-scan base-package="spring">
        <context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation" />
    </context:component-scan>

    <!--<bean id="transactionManager" class="org.springframework.jdbFc.datasource.DataSourceTransactionManager"> </bean>-->
    <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->
    <!--<jdbc:embedded-database id="dataSource"/>-->
    <bean id="animal" class="spring.ioc.Cat">
        <property name="name" value="kitty" />
    </bean>
</beans>